.historyContainer {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h2 {
    color: #333;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
